# Dependencies
node_modules/
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Next.js / Build output
.next/
out/
.next-static/
.next-turbo/

# Vercel
.vercel/

# Env & local settings
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
*.swp

# Logs
*.log
logs/
